---
import MainLayout from "../layouts/MainLayout.astro"
import Formular from '../components/Formular.astro'
---

<MainLayout title="Formular">
    <div class="m-20">
    <Formular></Formular>
</div>
</MainLayout>