---
import { Image } from 'astro:assets';
import logo_plastic_change from "../assets/images/logo_plastic_change.svg";
---
<div>
    <Image src={logo_plastic_change} alt="plastic change pink logo"></Image>
    

</div>
  