---
import { useState } from 'react';
---
<head>
  <title>Flip Card Quiz</title>
</head>
<body class="flex flex-col items-center justify-center min-h-screen bg-secondary">
    <div
        id="card"
        class="font-family: var(--font-sans) text-primary w-[90%] max-w-[700px] h-[200px] md:h-[400px] flex items-center justify-center bg-secondary text-center text-lg md:text-2xl cursor-pointer transition-transform duration-500 hover:bg- font-sans"
        onclick="window.flipCard()"
    >
        Start quizzen
    </div>
    <div
        class="mt-5 hidden"
        id="buttons"
    >
        <button 
            class="font-family: var(--font-sans) px-4 py-2 mx-2 text-sm md:text-lg border-lightgrey-2px text-secondary cursor-pointer hover:bg-darkgrey"
            onclick="window.nextQuestion()"
        >
            Ja
        </button>
        <button
            class="font-family: var(--font-sans) px-4 py-2 mx-2 text-sm md:text-lg border-lightgrey-2px text-secondary cursor-pointer hover:bg-darkgrey"
            onclick="window.nextQuestion()"
        >
            Nej
        </button>
    </div>
</body>

    <script>
      interface Window {
        flipCard: () => void;
        nextQuestion: () => void;
      }
      const questions = [
        "Må man smide vatrundeler i toilettet?",
        "Indholder snus plastik?",
        "Ses vi på Valby strand d.18 Juni?",
      ];
      let currentQuestion = 0;
      document.addEventListener("DOMContentLoaded", () => {
        const card = document.getElementById("card");
        const buttons = document.getElementById("buttons");

        window.flipCard = function () {
          card.innerText = questions[currentQuestion];
          buttons.classList.remove("hidden");
        };

        window.nextQuestion = function () {
          currentQuestion++;
          if (currentQuestion < questions.length) {
            card.innerText = questions[currentQuestion];
          } else {
            card.innerText = "Tak fordi du gør en forskel i verden!";
            buttons.classList.add("hidden");
          }
        };
      });
    </script>
  </body>
</html>
